.landingImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 45%;
  transition: opacity 0.2s ease-in;
}

.homepage_carousel {
  width: 100%;
  height: 100vh;
  background-color: rgb(15, 13, 13);
  overflow: hidden;
}
.myslide {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.buttonBubble {
  display: none;
}
.slide {
  height: 100vh;
}

.title {
  font-family: "Roboto", sans-serif;
  display: none;
  font-size: 6rem;
  position: absolute;
  z-index: 400;
  color: rgb(247, 247, 247);
  left: 0;
  right: 0;
  letter-spacing: 8px;
  transition: all 0.2s ease-in;
}
.title span{
  font-weight: 200;
}

.firstTitle {
  font-family: "Roboto", sans-serif;
  position: absolute;
  z-index: 500;
  left: 0%;
  right: 0%;
  bottom: 3rem;
  color: rgb(247, 247, 247);
  letter-spacing: 1px;
  transition: all 0.2s ease-in;
  text-align: center;
  font-weight: 600;

}
.firstTitle span{
  border: 1px solid;
  font-weight: 300;
  border-radius: 1.1rem;
  padding: 0.1rem 0.9rem;

}

@media (min-width: 767px) {
  .buttonBubble {
    display: inline-block;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 17, 17, 0.911);
    width: 15rem;
    height: 15rem;
    top: 0;
    transform: translateY(-90%);

    border-radius: 50%;
    left: 45%;
    z-index: 900 !important;
    transition: all 0.5s ease-in-out;
  }
  .buttonBubble:hover {
    transform: translateY(-75%);
  }
  .show_more_arrow {
    margin-bottom: -10.2rem;
  }
  .linktoprj {
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: -0.2rem;
  }

  .firstTitle {
    display: none;
  }
  .title {
    display: inline-block;
    font-size: 8rem;
    left: 2rem;
    bottom: 4rem;

  }
  .title:hover{
    text-shadow: 1px 1px 10px white;

  }
  .title span{
    font-weight: 200;
  }
  
}
@media (min-width: 1023px) {
  .firstTitle {
    bottom: 5rem;
    left: 7rem;
    letter-spacing: 5px;
    font-size: 56px;
  }
  .title {
    font-size: 10rem;
    left: 2rem;
    bottom: 2rem;

  }
  .title:hover{
    text-shadow: 1px 1px 10px white;

  }
  .title span{
    font-weight: 200;
  }
  

}


